.overlay_model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 600px;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  padding: 1.5rem;
  /* z-index: -1; */
  z-index: 99999;
  pointer-events: none;
}

.overlay_model.active {
  transform: translate(-50%, -50%) scale(1);
  pointer-events: all;
  opacity: 1;
}

.modal-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.modal-content p a {
  color: rgb(83, 83, 255);
  transition: var(--common-transition);
}

.modal-fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  align-items: center;
}

.modal-fields .field {
  /* width: 70%; */
  grid-column: span 2;
  display: grid;
}

.modal-fields input {
  border: 1px solid #8c8f94 !important;
  font-size: 1.2rem !important;
  padding: 0.7rem;
  color: #2c3338 !important;
  box-shadow: unset !important;
  border-radius: 5px !important;
}

.modal-fields .ng-select {
  width: 100%;
  /* border: 1px solid #ccc; */
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  font-size: 1rem;
}
